.title {
    font-style: italic;
    text-align: center;
    margin: 10px;
    color: rgb(100, 207, 97);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}


.imagen {
    margin: 2px;
    width: 420px;
    height: 420px;
}
